*.html linguist-language=html
*.cpp linguist-language=cpp
*.cs linguist-language=cs
*.go linguist-language=go
*.java linguist-language=java
*.js linguist-language=js
*.kt linguist-language=kt
*.py linguist-language=py
*.rb linguist-language=rb
*.rs linguist-language=rs
*.swift linguist-language=swift